@import "../../styles/common";

.fb_form-header {

  &__title {
    padding: 0 1rem;
    color: $gray;
    font-weight: bold;
  }

  &__save {
    text-align: right;
  }

  &__description {
    font-size: .625rem;
    margin: 1rem 0;

    span {
      color: $gray-light;
    }
  }
}
