@import "./common";

.ReactTabs {
  $tab-height: 3.25rem;
  $highlight-line-height: 2px;

  margin-bottom: 1rem;

  &__TabList {
    @include list-unstyled();
    border-bottom: 1px solid $gray-lighter;
    display: flex;
    margin: 0;
  }

  &__Tab {
    @include transition();
    position: relative;
    text-align: center;
    font-size: .625rem;
    color: $gray-light;
    height: $tab-height;
    line-height: $tab-height;
    width: 100%;

    &:after {
      @include transition();
      content: '';
      position: absolute;
      height: 0;
      background-color: $brand-primary;
      bottom: -$highlight-line-height;
      left: 0;
      width: 100%;
    }

    &--selected {
      color: $brand-primary;

      &:after {
        height: $highlight-line-height;
      }
    }

  }

  &__TabPanel {
    padding: 1rem 3.125rem;
  }
}
