@import "../../styles/common";

.fb_app {
  $aside-width: 400px;

  &__aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $aside-width;
    background-color: $white;
    border: 1px solid $gray-lighter;
    overflow-y: auto;
    z-index: $zindex-fixed;
  }

  &__main {
    min-width: map_get($grid-breakpoints, lg);
    margin-left: $aside-width - 1px;
    padding: 55px 3.125rem;
    height: 1px;
    min-height: 100vh;
    border: 1px solid $gray-lighter;
  }

  &__editor {
    border: 1px solid $gray-light;
    background: $white;
    padding: 1rem 3.125rem;
    min-height: 100%;
  }
}
