@import "../../styles/common";

.fb_title {
  &__text {
    padding-right: .25rem;
  }

  &__asterisk {
    color: $brand-danger;
    padding-right: .25rem;
  }

  button + button {
    margin-left: .25rem;
  }

  &__error {
    color: $brand-danger;
    font-size: .75rem;
    font-style: italic;
    margin-top: .25rem;
  }
}
