@import "../../styles/common";

.fb_sidebar {

  $title-height: 55px;

  &__title {
    @include text-truncate();
    height: $title-height;
    line-height: $title-height;
    padding: 0 1rem;
    color: $gray;
    background-color: $gray-lighter;
    text-align: center;
    font-weight: bold;
  }

  &__note {
    font-style: italic;
    font-size: .625rem;
    color: $gray-light;
  }

  &__describe {
    color: $gray;
    margin-bottom: 1rem;
    line-height: 1.25;
  }
}
